* {
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    /* these helped to make the boxes fill the page */
}

.logo-container, .hero-container {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #1F2937;
    padding: 5px 200px 80px 200px;
    height: 300px;
}

.logo-container p{
    display: inline;
    margin: 0px 10px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h3 {
    color:#F9FAF8;
    font-size: 24px;
}

 nav, .hero-text p{
    color: #E5E7EB;
    font-size: 18px;;
}

.hero-text p {
    width: 500px;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 1px 10px;
}

.hero-container {
    margin-top: 50px;
}
.hero-text {
    height: 150px;
    width: 450px;
    margin: 0px 100px 0px 0px;
}

.hero-image {
    width: 450px;
    /*height: 150px;*/
    background-color: gray;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0px 10px;
}

/* Information Section */
h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.info-box-container {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px
}
.box {
    height: 150px;
    width: 150px;
    border: 2.5px solid #3882F6;
    border-radius: 5px;
}

.info-box p{
    width: 150px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 100px;
}

/* Quotes Section */
.quote {
    background-color: #E5E7EB;
    padding: 50px 300px;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.quote strong {
    margin-left: 585px;
}

/* Sign Up Section */
.sign-up {
    display: flex;
    background-color: #3882F6;
    margin: 50px 300px;
    padding: 40px 80px;
    border-radius: 5px;
    justify-content: space-between;
}

h4 {
    color: #F9FAF8;
}

.sign-up-text p {
    color:#E5E7EB;
}

.sign-up button {
    border: 1px solid #F9FAF8;    
}

/*Footer*/
footer {
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}